.container-fluid {
	min-height: 93vh;
}

label.error {
	margin-top: 0.4rem;
	color: var(--warning);
}
.carousel-imagem {
	opacity: 0.7;
}
.carousel-caption {
	background-color: rgba(2, 2, 2, 0.424);
}
